{% include "main.html" %}
<title>End Prep</title>

</head>

<body>
	{% include "homeheader.html" %}
	<div class="container content">
		<div class="row">
			<div class="col-md-10">
				<form action="{{url_for('search')}}">
					<div class="input-group">
						<input type="text" name="search" class="form-control"  placeholder="Search any topic here....(For e.g. pointer, class, sonet)" aria-describedby="basic-addon2">
						<span class="input-group-btn">
							<input class="btn btn-default" type="submit" value="Search!">
						</span>
					</div>
				</form>
			</div>
		</div>
		<div class="row" style="align-content: center;">
			<div class="col-md-10">
				<h3 style="text-align: center;">LeaderBoard</h3>
			</div>
			<div class="col-md-10" style="border: 1px solid white">
					<marquee>
					{% for user in users %}
						{% if user.picture %}
							<img src="{{user.picture}}" width="50" height="50">
						{% else %}
							<img src="https://openclipart.org/image/2400px/svg_to_png/211821/matt-icons_preferences-desktop-personal.png" width="50" height="50">
						{% endif %}
						<span style="overflow:hidden">{{user.name}}</span>
					{% endfor %}
					</marquee>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10" style="border: 1px solid white">
					<h2 style="text-align:center">Those end moment preparations, for us hardworking students :D</h2>
					<h5>This Website is a fully dynamic Website.</h5>
					<h5>Notes or content is uploaded firstly subject wise then chapter wise.</h5>
					<h5>There is a search bar in which you can search the topic name and the notes related to that topic will be shown.</h5>
					<h5>For uploading a file or downloading or like/comment on someone's file/files you need to login first using Facebook.</h5>
					<h4 style="text-align:center"><i>Happy Learning!!!</i></h4>
				</ul>
			</div>
		</div>		


		<div class="row">
			<a href="{{url_for('topics',subject=subjects[0].name)}}">
				<div class="col-md-5 myWell">
					<div class="image">
						<img src="{{subjects[0].picture}}" width="100%">
					</div>
					<h3>{{subjects[0].name}}</h3>
				</div>
			</a>
			<a href="{{url_for('topics',subject=subjects[1].name)}}">
				<div class="col-md-5 myWell">
					<div class="image">
						<img src="{{subjects[1].picture}}" width="100%">
					</div>
					<h3>{{subjects[1].name}}</h3>
				</div>
			</a>
			<a href="{{url_for('topics',subject=subjects[2].name)}}">
				<div class="col-md-5 myWell">
					<div class="image">
						<img src="{{subjects[2].picture}}" width="100%">
					</div>
					<h3>{{subjects[2].name}}</h3>
				</div>
			</a>
			<a href="{{url_for('topics',subject=subjects[3].name)}}">
				<div class="col-md-5 myWell">
					<div class="image">
						<img src="{{subjects[3].picture}}" width="100%">
					</div>
					<h3>{{subjects[3].name}}</h3>
				</div>
			</a>
			<a href="{{url_for('topics',subject=subjects[4].name)}}">
				<div class="col-md-5 myWell">
					<div class="image">
						<img src="{{subjects[4].picture}}">
					</div>
					<h3>{{subjects[4].name}}</h3>
				</div>

			</a>
			<a href="{{url_for('topics',subject=subjects[5].name)}}">
				<div class="col-md-5 myWell">
					<div class="image">
						<img src="{{subjects[5].picture}}">
					</div>
					<h3>{{subjects[5].name}}</h3>
				</div>
			</a>


		</div>



	</div>
</body>

</html>
