<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta content="End Prep" name="description">
    <meta content="Notes, sharing, end,prep, endprep" name="keywords">
    <meta content="Saurabh Thakur, Shubham Gupta, Shruti Sheoran, Shaurya Pratap Singh" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
	<script src="{{url_for('static', filename='js/jquery.js')}}">
    </script> 
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}">
    </script>
